/*
 © Chris How, Primesolid 2013
 All rights reserved.
*/
/* 
    Created on : Nov 30, 2015, 5:17:31 PM
    Author     : chris  
*/
.hide-if-no-customize {
  display: none !important;
}
body {
  font-family: "Benton Sans Light";
  font-style: normal;
  font-weight: normal;
  margin: 100px;
}
p {
  font-size: 2em;
}
.light {
  font-family: "Benton Sans Light";
  font-style: normal;
  font-weight: normal;
}
.book {
  font-family: "Benton Sans Book";
}
.book b {
  font-family: "Benton Sans Medium";
  font-style: normal;
  font-weight: normal;
}
.book i {
  font-family: "Benton Sans Book";
  font-style: italic;
}
.book b i,
.book i b {
  font-family: "Benton Sans Medium";
  font-style: italic;
}
.medium {
  font-family: "Benton Sans Medium";
  font-style: normal;
  font-weight: normal;
}
